@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-bg: #ffffff;
  --color-text: #111827;
}

.dark {
  --color-bg: #111827;
  --color-text: #f3f4f6;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.2s ease, color 0.2s ease;
}